doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/scripts/sidebarToggle.js")
    
  body
    
    div.flex-container
       div.layoutItem
          ul
            li 
              a(href='/users')  
                i.fa.fa-home.fa-2x 
                span.nav-text Home
            li
              a  
                i.fa.fa-user.fa-2x 
                span.nav-text Users
            li 
              a  
                i.fa.fa-list.fa-2x 
                span.nav-text Home
          
       div.content
           div.toolbar 
              div.toolBarContent
                  i.fa.fa-list.toc
           block content
    