extends layout

block content
       if(success_msg)
          p #{success_msg}
       if(error_msg)
          p #{error_msg}
       form.inputContainer(method='POST' action='/users/Login')
           input.input(type="text",placeholder="Email",name="email")
           input.input(type="password",placeholder="Password",name="password")
           button.btn.btn-primary(type='submit') Login