extends layout

block content
  
        form.inputContainer(method='POST' action='/users/Submit')
          input.input(type="text",placeholder="Email",name="email")
          input.input(type="password",placeholder="Password",name="password")
          button.btn.btn-primary(type='submit') Login